$gutter: 5px;
$defaultMargin: $gutter / 2;
$gridSize: 12;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$defaultFontSize: 16px;

$sansSerifFont: "Droid Sans", "Roboto", "Helvetica", Verdana, Arial, sans-serif;
$headingFont: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;

$black: #222222;
$red: #ff0000;
$selectionColor: #b3d4fc;
$silver: #ccc;

$widgetHighlightColor: #1F74EC;
$widgetHighlightHoverColor: #1F96FD;

$preLoginShadow: 0 0 10px #000000;
$controlShadow: 0 0 5px $widgetHighlightColor;

$radioWidgetHeight: 32px;
$radioWidgetBorder: 3px;
$radioBorder: $radioWidgetBorder solid $widgetHighlightColor;

%boxsizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

%borderradius {
  -webkit-border-radius: $radioWidgetBorder * 2;
  -moz-border-radius: $radioWidgetBorder * 2;
  border-radius: $radioWidgetBorder * 2;
  -webkit-background-clip: border-box;
  -moz-background-clip: border;
  background-clip: border-box;
}

%elementborder {
  border: 2px solid $silver;
  overflow:hidden;
}

%primary { overflow:hidden; color: $black; background-color: #CCE5FF !important; }
%secondary { overflow:hidden; color: $black; background-color: #E2E3E5 !important; }
%success { overflow:hidden; color: $black; background-color: #D4EDDA !important; }
%danger { overflow:hidden; color: $black; background-color: #F8D7DA !important; }
%warning { overflow:hidden; color: $black; background-color: #FFF3CD !important; }
%info { overflow:hidden; color: $black; background-color: #D1ECF1 !important; }
%light { overflow:hidden; color: $black; background-color: #FEFEFE !important; }
%dark { overflow:hidden; color: #ffffff; background-color: $black !important; }
%outlined { @extend %elementborder; color: $black !important; }