{% load static bootstrap4 %}
<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>@DEV</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% bootstrap_css %}

    <meta name="theme-color" content="#fafafa">
</head>

<body>
<!-- Add your site or application content here -->
{% block content %}{% endblock %}

<script src="{% static "js/vendor/modernizr-3.7.1.min.js" %}"></script>
{% bootstrap_javascript jquery="slim" %}
<script src="{% static "js/plugins.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>
</body>

</html>
